@tailwind base;
@tailwind components;
@tailwind utilities;

.price-card-shadow:hover {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.hero-banner-bg {
  background: url("/assets/images/home/bg.webp") no-repeat;
  background-size: 1000px;
  background-position: 130%;
}

.one-app-bg {
  background: url("/assets/images/home/bg.webp") no-repeat;
  background-size: cover;
}

.blog-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 30%;
}

@layer utilities {
  .main-container {
    @apply py-[130px] w-full px-[9vw] lg:px-2;
  }

  .global-width {
    @apply w-full max-w-[1200px] mx-auto;
  }

  .btn-yellow {
    @apply font-medium tracking-[0.5px] leading-5 rounded-[5px] h-[60px] w-fit text-sm md:text-base lg:text-lg bg-primary border border-primary 
    duration-500 flex items-center justify-center px-4 lg:px-[30px] hover:text-white hover:bg-blackPrimary hover:border-blackPrimary;
  }

  .btn-black {
    @apply !bg-blackPrimary !border-blackPrimary !text-white hover:!bg-primary hover:!border-primary hover:!text-blackPrimary;
  }

  .text-72 {
    @apply font-medium text-[32px] md:text-[48px] lg:text-[72px] font-dmSans leading-[1.2em] my-[10px];
  }

  .text-48 {
    @apply font-medium text-2xl md:text-[32px] lg:text-[48px] font-dmSans leading-[1.2em];
  }

  .text-32 {
    @apply font-medium text-lg md:text-[20px] lg:text-[32px] font-dmSans leading-[1.5em];
  }

  .text-hover {
    @apply duration-300 ease-in-out hover:text-primary cursor-pointer;
  }
}
